// app global css in Stylus form

/* Estilos para telas menores */
@media only all and (max-width: 1024px) {
    .layoutBotoes {
        text-align:center; 
        margin-top:2.5%;
    }

    .layoutHome {
        min-heigth:100%; 
        max-width:90%;
    }

    .layoutPaginaSobre {
        min-height:100%;
        max-width:96%;
        margin-left:2%;
    }
    
    #imagemSorvete {
        width:60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:2.5%;
        margin-bottom:0.25%;
    }

    #logoSorvete {
        margin-left:-2.5%;
        width:15%;
    }

    #botaoSobre {
        margin-right: -2%;
        width:10%;
    }

    #botaoPredizerLucro {
        margin-right:4%;
    }
    
    #listaSobre {
        margin-top:2.5%;
    }

    #tituloGeral {
        text-align:center;
    }

    #logoEpm {
        min-width:40px;
        width:10%; 
        float:left;
        margin-top:5px;
    }

    #logoUnifesp {
        min-width:75px;
        width:10%;
        float:right;
        margin-top:5px;
    }
}

/* Estilo para telas maiores */

@media only all and (min-width: 1025px) {
    .layoutBotoes {
        text-align:center; 
        margin-top:5%;
    }

    .layoutHome {
        min-heigth:100%; 
        max-width:95%;
    }

    .layoutPaginaSobre {
        min-height:100%;
        max-width:98%;
        margin-left:1%;
    }
    
    #imagemSorvete {
        width:30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:3%;
        margin-bottom:1%;
    }

    #logoSorvete {
        margin-left:-1%;
        width:5%;
    }

    #botaoSobre {
        margin-right: -5%;
        width:10%;
    }

    #botaoPredizerLucro {
        margin-right:4%;
    }
    
    #listaSobre {
        margin-top:2%;
    }

    #tituloGeral {
        text-align:center;
    }

    #logoEpm {
        min-width:40px;
        width:5%; 
        float:left;
        margin-top:5px;
    }

    #logoUnifesp {
        min-width:75px;
        width:7.5%;
        float:right;
        margin-top:5px;
    }
}





