// app global css in Stylus form

.layoutBotoes {
    text-align:center; 
    margin-top:2%;
}

.layoutPagina {
    min-heigth:100%; 
    max-width:90%;
}

#tituloGeral {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

#imagemSorvete {
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}

#botaoPredizerLucro {
    margin-right:2%;
}

@media only screen and (max-width: 1024px) {
    #imagemSorvete {
        width:90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:7.5%;
        margin-bottom:5%;
    }

    .layoutBotoes {
        text-align:center; 
        margin-top:10%;
    }
}


