// app global css in Stylus form

.layoutBotoes {
    text-align:center; 
    margin-top:2%;
}

.layoutPagina {
    min-heigth:100%; 
    max-width:90%;
}

#imagemSorvete {
    width:30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}

#botaoPredizerLucro {
    margin-right:2%;
}

#botaoSobre {
    height:10%;
    width:10%;
}

@media only screen and (max-width: 1024px) {
    .layoutBotoes {
        text-align:center; 
        margin-top:10%;
    }

    .layoutPaginaSobre {
        min-height:100%;
        max-width:95%;
        margin-left:2%;
    }
    
    #imagemSorvete {
        width:99%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:5%;
        margin-bottom:5%;
    }

    #logoSorvete {
        margin-left:-2.5%;
        width:15%;
    }

    #botaoSobre {
        margin-right: -2%;
        width:10%;
    }

    #botaoPredizerLucro {
        margin-right:4%;
    }
    
    #listaSobre {
        margin-top:5%;
    }
}


